{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width,initial-scale=1" name="viewport">

  <link rel="shortcut icon" href="/static/bootstrap/css/icon.png">
  <title>博客页面</title>

<link href="/static/bootstrap/css/main.3f6952e4.css" rel="stylesheet"></head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
 <!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="/logout/"><font size="4" color="red">01 : Exit</font></a></li>
          <li><a href="/blog/"><font size="4" color="red">02 : Blog</font></a></li>
          <!-- <li><a href="./about.html" title="">03 : About me</a></li>
          <li><a href="./contact.html" title="">04 : Contact</a></li>
          <li><a href="./components.html" title="">05 : Components</a></li> -->
        </ul>


      </div>
    </div>
  </nav>
</header>

<div class="section-container">
  <div class="container">
    <div class="row">

      <div class="col-sm-8 col-sm-offset-2 section-container-spacer">
        <div class="text-center">
          <h1 class="h2">02 : Blog</h1>
          <p><b> Never complain about what has happened, or change it, or accept it quiet.</b></p>
        </div>
      </div>

      <div class="col-md-12">
            <div class="item active">
                <div class="row">
                    {% for article in  article_list%}
                    <div class="col-sm-4">
                      <a href="{% url 'detail' article.id%}" title="" class="black-image-project-hover">
                        <img src="/static/bootstrap/css/work01-hover.jpg" alt="" class="img-responsive">
                      </a>
                      <div class="card-container card-container-lg">
                        <h3>{{ article.title }}</h3>
                          <h4>{{ article.author }}</h4>
                        <a href="{% url 'detail' article.id%}" title="" class="btn btn-danger">Discover</a>
                      </div>
                    </div>
                    {% endfor %}
                 </div>
             </div>
       </div>


<!-- <footer class="footer-container text-center">

</footer> -->

<!--<script>-->
<!--  document.addEventListener("DOMContentLoaded", function (event) {-->
<!--     navActivePage();-->
<!--  });-->
<!--</script>-->

 <script type="text/javascript" src="/static/bootstrap/js/main.70a66962.js"></script></body>

</html>