<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>登录界面</title>-->
<!--</head>-->
<!--<body>-->

<!--<form action="/afterlogin/" method="post" >-->
<!--    {% csrf_token %}-->
<!--    用户名<input type="text" name="username">-->
<!--    <br>-->
<!--    密码：<input type="text" name="password">-->
<!--    <br>-->
<!--    <input type="submit" value="登录">-->
<!--    <span style="color:red;">{{ error_msg }}</span>-->
<!--</form>-->

<!--</body>-->
<!--</html>-->

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- Custom styles for this template -->
    <link href="/static/bootstrap/css/signin.css" rel="stylesheet">

<!--    也可以用bootstrap3，那就需要前面load进来，并且在settings.py的app里加入-->
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
	<script src="/static/bootstrap/jquery/jquery-3.2.1.min.js"></script>
	<script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <title>登录页面</title>
    <link rel="shortcut icon" href="/static/bootstrap/css/icon.png">

</head>
<body>
<div class="container" style="padding-top:100px">
    <form class="form-signin" action="/afterlogin/" method="post">
        <h2 class="form-signin-heading">用户登录</h2>
        <label for="inputUsername" class="sr-only">username</label>
        <input type="text" id="inputUsername" name="username" class="form-control" placeholder="username" required autofocus>
        <label for="inputPassword" class="sr-only">password</label>
        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit" id="btn">登录</button>
        <span style="color:red;">{{ error_msg }}</span>
        {{wronglyInput}}<br>
        {% csrf_token %}
    </form>
</div>
<!-- /container -->
</body>
</html>


