{% load static %}
<html lang="zh">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Yewd">

    <!-- CSS -->
	<title>Bear&Pig</title>
	<link rel="shortcut icon" href="/static/bootstrap/css/icon.png">
<!--	  <link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">-->
	<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
<!--	  <link rel="stylesheet" href="/static/bootstrap/css/font-awesome.min.css">-->

	<!-- Custom styles for our template -->
<!--	<link rel="stylesheet" href="/static/bootstrap/css/bootstrap-theme.css" media="screen">-->
	<link rel="stylesheet" href="/static/bootstrap/css/log.css">
<!--	<link rel="stylesheet" href="/static/bootstrap/css/blog.css">-->
	</head>


<body class="back">
<!--	<script src = "D:\programfiles\Jquery\jquery-3.2.1\jquery-3.2.1.min.js"></script>-->
    <!--导航栏-->
	<div class="navbar navbar-inverse navbar-fixed-top headroom" >
		<div class="container">
			<div class="navbar-header">
				<img src="/static/bootstrap/css/lo.png" alt="Progressus HTML5 template">
			</div>
			<div class="nav navbar-nav navbar-right">
            	<li><a><font size="4" color="white">作者：叶闻东</font></a></li>
				<li><a href="/login/"><i class="fa fa-sighout"></i><font size="4" color="yellow">注销</font></a></li>
			</div>
		</div>
	</div>

	  <center>
 	<div class="container" style="padding-top:300px; min-height:800px">
      <div class="row">,.
        <p class="lead"><font color="white">个人博客，尽情的享用吧(〃'▽'〃)</font></p>
        <p class="tagline"><font color="white">*仅限于东东和洒洒*</font></p>
		 <p><a class="btn btn-success btn-lg" role="button" href="/admin/#/admin/AppWeb/article/">START NOW</a></p>
      </div>
    </div>
	</center>


   <footer id="footer" class="top-space">
		<div class="footer2">
			<div class="container">
				<p class="text-center">小熊和小猪的网站</p>
			</div>
		</div>
  </footer>
</body>
</html>



<!--{% load static %}-->
<!--<html lang="zh">-->
<!--  <head>-->
<!--    <meta charset="utf-8">-->
<!--    <title>首页-Ericamblog</title>-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <meta name="author" content="Ericam_">-->

<!--    &lt;!&ndash; CSS &ndash;&gt;-->
<!--	<link rel="shortcut icon" href="/static/bootstrap/css/icon.png">-->
<!--	<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">-->
<!--	<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">-->
<!--	<link rel="stylesheet" href="/static/bootstrap/css/font-awesome.min.css">-->
<!--	&lt;!&ndash; Custom styles for our template &ndash;&gt;-->
<!--	<link rel="stylesheet" href="/static/bootstrap/css/bootstrap-theme.css" media="screen" >-->
<!--	<link rel="stylesheet" href="/static/bootstrap/css/blog.css">">-->
<!--	<link rel="stylesheet" href="/static/bootstrap/css/log.css">>-->
<!--</head>-->

<!--<body class="back">-->
<!--  <script src = "D:\programfiles\Jquery\jquery-3.2.1\jquery-3.2.1.min.js"></script>-->
<!--  &lt;!&ndash;导航栏&ndash;&gt;-->
<!--	<div class="navbar navbar-inverse navbar-fixed-top headroom" >-->
<!--		<div class="container">-->
<!--			<div class="container-fluid">-->
<!--			  <div class="navbar-header">-->
<!--				&lt;!&ndash; Button for smallest screens &ndash;&gt;-->
<!--				  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>-->
<!--				  <a class="navbar-brand"><img src="/static/bootstrap/css/lo.png" alt="Progressus HTML5 template"></a>-->
<!--			  </div>-->

<!--        <ul class="nav navbar-nav navbar-right">-->
<!--            <li><a><font size="4" color="white">{{user.nickname}}</font></a></li>-->
<!--            <li><a href="unlog.html"><i class="fa fa-sighout"></i><font size="4">注销</font></a></li>-->
<!--        </ul>-->
<!--    </div>-->
<!--	</div>-->
<!--</div>-->

<!--	  <center>-->
<!--    <div class="container" style="padding-top:300px;min-height:800px">-->
<!--      <div class="row">,.-->
<!--        <p class="lead"><font color="white"">Easy-Download,这里有好多好多资源喔，尽情的享用吧(〃'▽'〃)</font></p>-->
<!--        <p class="tagline"><font color="white">如果您有优秀的资源，欢迎投递哦</font></p>-->
<!--        <p><a class="btn btn-action btn-lg" role="button" href="#">START NOW</a></p>-->
<!--      </div>-->
<!--    </div>-->
<!--	</center>-->

<!--   <footer id="footer" class="top-space">-->
<!--		<div class="footer2">-->
<!--			<div class="container">-->
<!--				<p class="text-center">Copyright &copy; 2020, Ericamblog</p>-->
<!--			</div>-->
<!--		</div>-->
<!--  </footer>-->
<!--</body>-->
<!--</html>-->

